{% extends '@!NelmioApiDoc/SwaggerUi/index.html.twig' %}

{% block header %}
    <a id="logo" href="#"><img src="{{ asset('bundles/nelmioapidoc/bilemo-logo.png') }}" alt="BileMo Api Documentation"></a>
{% endblock header %}